h1      {
            color: crimson;
            background-color: cyan;
            font-size:  34px;
            font-weight: bold;
            font-family: Tahoma, Arial, sans-serif;
            width: 500px;
            margin: auto;
            text-align: center;
            margin-bottom:  50px;

}

h2      {
            color: forestgreen;
            font-size: 28px;
            font-weight: bold;
            font-family: Tahoma, Arial, sans-serif;
}


h3        {
            color: forestgreen;
            font-size: 24px;
            font-weight:  bold;
            font-family: Tahoma, Arial, sans-serif;
}

p          {
            color: black;
            font-size: 20px;
            font-family: Tahoma, Arial, sans-serif;
}

.unlist         {
            font-family: Tahoma, Arial, sans-serif;
            font-size:  24px;
            margin: auto;
            text-align: center;
            display: block;
}

.frontpicture       {
            height: auto;
            width:  600px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
}

.ingredients    {
            color: black;
            font-size:  20px;
            font-family: Tahoma, Arial, sans-serif;
}

.ordered           {
            color: black;
            font-size:  20px;
            font-family: Tahoma, Arial, sans-serif;
}

.recipe1            {
            display: inline-block;
            padding: 25px;
            margin: auto;
            border:  dotted 10px black;
            background-color: cyan;
            margin-left:  20px;
            margin-right:  20px;
            color: ;
}

a:hover             {
            background-color: darkred;
}

.recipe1:hover            {
            background-color: darkolivegreen;
}