h1      {
            color: crimson;
            background-color: gold;
            font-size:  34px;
            text-align: center;
            font-weight: bold;
            font-family: Tahoma, Arial, sans-serif;
}

h2      {
            color: forestgreen;
            font-size: 28px;
            font-weight: bold;
            font-family: Tahoma, Arial, sans-serif;
}


h3        {
            color: forestgreen;
            font-size: 24px;
            font-weight:  bold;
            font-family: Tahoma, Arial, sans-serif;
}

p          {
            color: black;
            font-size: 20px;
            font-family: Tahoma, Arial, sans-serif;
}

.unlist         {
            font-family: Tahoma, Arial, sans-serif;
            font-size:  24px;
}

.frontpicture       {
            height: auto;
            width:  750px;
}

.ingredients    {
            color: black;
            font-size:  20px;
            font-family: Tahoma, Arial, sans-serif;
}

.ordered           {
            color: black;
            font-size:  20px;
            font-family: Tahoma, Arial, sans-serif;
}